{% extends "base.html" %}

{% block title %}Book/Movie/Show/Music/Games/Boardgames Recommender{% endblock %}

{% block content %}
<h1>Book/Movie/Show/Music/Games/Boardgames Recommender</h1>
<ul>
    <li><a href="/book">Book</a></li>
    <li><a href="/movie">Movie</a></li>
    <li><a href="/show">Show</a></li>
    <li><a href="/music">Music</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/boardgames">Board Games</a></li>
    <li><a href="/search">Search</a></li>
</ul>
{% endblock %}
